untracked files
*.txt
cmd_*
*.json
__pycache__
test_base_model.py
*.pyc
test_base_model_dict.py
unittest_outcomes.py
test_save_reload_base_model.py
tests/test_models/__pycache__/test_base_model.cpython-38.pyc
tests/test_models/__pycache__/test_base_model.cpython-38.pyc
